.contenedor-main {
  margin-left: 230px;
  background-color: pink;
  min-height: 100vh;
  display: flex;
  padding-top: 70px;
  transition: 0.5s all ease-in-out;
}

.contenedor-main-mini {
  margin-left: 80px;
  background-color: pink;
  min-height: 100vh;
  display: flex;
  padding-top: 60px;
  transition: 0.5s all ease-in-out;
}
