@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
:root {
  --white: #ffffff;
  --blue-primary: #187ce2;
  --blue-secondary: #1d72de;
  --blue-dark: #2d54cc;
  --blue-sidebar: #204371;
  --body-sidebar: #252435;
  --light-blue: #4bc1f4;
  --blue-title: #2c52cc;
  --gray-light: #e5ecef;
  --light-blue-2: #5ca1ea;
  --degradado-blue: linear-gradient(
    90deg,
    rgba(21, 134, 234, 1) 0%,
    rgba(46, 74, 199, 1) 100%
  );
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-family: "Roboto";
}
body {
  padding: 0;
  margin: 0;
}

/**
components:
-boton completar
-card
colors:

*/
